* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 27px;
}

html,
body {
  height: 100%;
}

.header {
  font-size: 40px;
  color: rgb(0, 13, 154);
  text-align: center;
}

input[name="inputOfUser"] {
  padding: 4px 8px;
}

#btnChecking {
  padding: 4px 12px;
  cursor: pointer;
}

#result {
  background-color: rgb(228, 228, 228);
  padding: 12px;
  border-radius: 12px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  min-height: 100%;
  background-color: rgb(106, 254, 254);
}

.conAbs {
  padding: 12px 12px 0 12px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid gray;
}

.conAbs > * {
  margin-bottom: 28px;
}

.label_btn {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

@media screen AND (max-width: 648px) {
  * {
    font-size: 20px;
  }

  .header {
    font-size: 22px;
  }

  input[name="inputOfUser"] {
    max-width: 150px;
  }
}
