* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 27px;
}

.header {
  font-size: 40px;
  margin: 25px 20px;
  color: rgb(0, 13, 154);
}

.inputBox {
  margin: 20px;
}

input[name="inputOfUser"] {
  padding: 4px 8px;
}

#btnChecking {
  padding: 4px 12px;
  cursor: pointer;
}
